@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Karla', sans-serif;
}
.start--container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height: 100vh;
  background-image: url("blobs.png"),url("blobss.png");
  background-size: 350px;
  background-repeat : no-repeat , no-repeat;
  background-position-x:right,left;
  background-position-y: top,bottom;
}
.start--container p{
  padding : 5px;
  margin-bottom: 30px;
  color: #293264;
  font-size: 35px;
}
.start--container h2{
  padding : 5px;
  font-size: 50px;
  /* margin-bottom: 20px; */
  color: #293264;
}
.start--container .link{
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding : 10px;
  width: 200px;
  border-radius: 10px;
  border:none;
  background-color: #4D5B9E;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: lighter;
  cursor: pointer
}

/* CSS for question part */
.ques{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height: 100vh;
  background-image: url("blobs.png"),url("blobss.png");
  background-repeat : no-repeat , no-repeat;
  background-size: 250px;
  background-position-x:right,left;
  background-position-y: top,bottom;
}
.Question-section{
  height: 350px;
  width : 500px;
  background-color:rgb(233, 253, 204);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.Options{
  display: flex;
  flex-direction: column;
  gap : 10px;
}
.Question{
  font-size: 22px;
  font-weight: bold;
}
.Options button{
  width : 350px;
  border-radius: 20px;
  height: 40px;
  font-size: 18px;
}
.Score-section{
  font-size: 3rem;
  font-weight: 600;
  font-family:  cursive;
  text-shadow: 5px 2px  rgba(144, 141, 137, 0.35);
  color: rgba(5, 5, 0, 0.919);
}



